@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1EAF2;
}

.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  background-color: #ffffffa1;
}

.main-image {
  padding-top: 50px !important;

  .bg-cover {
    @apply w-full;
    height: calc(100vh + 50px);
    background-image: url("../images/wwdc22-hero-large-b.jpg");
    background-size: 2560px 900px;
    background-repeat: no-repeat;
    background-position: center 0;
    @media only screen and (max-width: 768px) {
      background-size: cover;
    }

    .subhead {
      @apply text-gray-100 text-center text-2xl;
    }

    .hero-masthead {
      width: 285px;
    }
  }
}

.box-section {
  @apply flex justify-between items-center flex-wrap;
  .box {
    height: 550px;
    @apply w-full lg:w-1/2 p-10 flex flex-col justify-start items-center;
    h2 {
      @apply font-medium text-4xl text-white mb-2;
    }

    p, h5 {
      @apply text-xl text-center w-3/4;
    }

    img {
      height: 350px;
      @apply w-auto mt-10 cursor-pointer;
    }

    .text-container {
      @apply text-xl text-gray-800;
    }

  }

  .big-box {
    @apply w-full border-b-8 border-r-8 border-l-8 mb-10;
    h2 {
      @apply text-gray-700 text-5xl;
    }

    h5 {
      @apply w-1/2
    }
  }

  .right {
    @apply border-0 lg:border-b-8 lg:border-r-8 lg:border-l-4 border-white
  }

  .left {
    @apply border-0 lg:border-b-8 lg:border-l-8 lg:border-r-4 border-white
  }

  .border-top {
    @apply lg:border-t-8;
  }
}
